@font-face {
  font-family: 'CloisterBlack';
  src: url('./assets/CloisterBlack.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}


body {
  font-family: 'CloisterBlack';
  background-color: black;
}